body{
    background: url('../img/exam.jpg') no-repeat ;
    background-size: cover
}
header{
    background-color: black;
    color: white;
    padding:4%;
}
header h1 {
    text-align: center;
}

main{
    margin-top: 10%;
    position: relative;
}

main div:first-child{
    display: inline-block;
    float: left;
    width: 20%;
    background-color:rgba(114, 104, 211, 0.8) ;
}

main div:last-child{
    display: inline-block;
    float: right;
    width: 30%;
    padding-right: 20%;
    background-color:rgba(114, 104, 211, 0.8) ;

}

th,td{
    border: 2px solid black;
    margin-left: 8%;
  
}

table{
    background-color: black;
    color: white;
    margin-left: 50%;
    /* border: 2px solid black; */
}

input{
    width: 80%;
    margin-left: 5%;
}
label{
    text-align: center;
    padding-left: 90px;
}
select{
    width:80%;
    margin-left: 5%;
    
}

#submit{
    margin-top: 10%;
    background-color: black;
    color: white;
    margin-left: 5%;
    margin-bottom: 5%;
}
#select{
    margin-top: 10%;
}



